/* VARIABLES */

:root {
    /* ACTION AND MARK COLORS */
    --action-primary: #ffffff00;

    /* BACKGROUND COLORS */
    --bg-header: #F8F8F8;
    --bg-section-accent: #5F259F;
    --bg-dark: #232E21;
    --bg-dark-light: #313F2E;
    --bg-hamburger-bar: #5c5c5c;

    /* INTERFACE ELEMENT COLORS */
    --btn-white-bg: #ffffff;
    --btn-white-border: #B0B0B0;
    
    --action-primary-border: #A57AE3;


    /* FONTS */
    --font-main: 'Space Grotesk', sans-serif;
}